<div class="card">
  <h2 class="title pb-4 post-title">Log In</h2>
    <form id="login-form" class="card-body">
      <div class="form-row">
        <label class="form-label" for="username-login">Username</label>
        <input  id="username-login" type="text" autofocus="true" class="form-input form-control"/>
      </div>
      <div class="form-row mb-3">
        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input form-control"/>
      </div class="login-signup">
        <button type="submit" class="btn login-button" style="background: var(--blue-gray); color: var(--light-gray);">Login</button>
        <a class="btn login-link signup-button" href="/signup" style="background: var(--blue-gray); color: var(--light-gray);">Sign Up</a>
    </form>
</div>
   
<script src="/js/login.js"></script>