<div class="card">
  <h2 class="title pb-4 post-title">Sign Up</h2>
  <form id="signup-form" class="card-body">
    <div class="form-row">
      <label for="username-signup" class="form-label">Username</label>
      <input id="username-signup" type="text" class="form-input form-control" />
    </div>
    <div class="form-row">
      <label class="form-label" for="email-signup">Email</label>
      <input id="email-signup" type="email" class="form-input form-control" />
    </div>
    <div class="form-row">
      <label class="form-label" for="password-signup">Password</label>
      <input
        id="password-signup"
        type="password"
        class="form-input form-control"
      />
    </div>
    <button
      type="submit"
      class="btn"
      style="background: var(--blue-gray); color: var(--light-gray);"
    >Sign Up</button>
    <a
      class="btn login-link"
      href="/login"
      style="background: var(--blue-gray); color: var(--light-gray);"
    >Log In</a>
  </form>
</div>

<script src="/js/signup.js"></script>